/* Add to your CSS */
.responsive-heading {
    font-size: 1rem; /* default for mobile */
  }
  
  @media (min-width: 768px) {
    .responsive-heading {
      font-size: 1.5rem; /* for tablets and up */
  }
  
  @media (min-width: 992px) {
    .responsive-heading {
      font-size: 1.5rem; /* for desktops */
    }
  }
  }