.user-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topbar {
  background-color: #ffc107;
  color: #000;
  text-align: center;
  padding: 0.25rem 1rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.main-content {
  flex: 1;
  background: #111; /* dark background to match theme */
  color: #2c2c2c;
}

.content-wrapper {
  min-height: 60vh;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
