.perpetual-container {
  --animation-duration: 1s;
  --bounce-height: calc(205px - 100vh);

  background-image: linear-gradient(
    75deg,
    white,
    lightgray 5%,
    white 15%,
    lightgray 55%,
    lightgray 90%,
    white
  );
  background-size: 100%;
  background-attachment: fixed;
  min-height: 300px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
  margin: 0;
  padding: 1rem;
}

.perpetual-container h1 {
  line-height: 24px;
  margin: 0;
  font-weight: normal;
}

.suport {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.smash {
  animation-name: smash;
  animation-duration: var(--animation-duration);
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: bottom;
}

.translateShadow,
.rotateImg,
.light {
  border-radius: 50%;
  display: inline-block;
  width: 200px;
  height: 200px;
}

.light {
  background-image: radial-gradient(
    circle at 20% 20%,
    rgba(255, 221, 179, 0.7),
    rgba(255, 221, 179, 0.5) 10%,
    transparent 30%,
    rgba(83, 42, 0, 0.8) 85%
  );
  position: absolute;
  z-index: 1;
}

.translateShadow {
  animation-name: translateShadow;
  animation-duration: var(--animation-duration);
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.rotateImg {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='75 75 251 251' fill='rgb(83,42,0)'><path d='M313.3...z'/></svg>");
  background-color: darkorange;
  background-size: 100%;
  animation-name: rotateImg;
  animation-duration: calc(var(--animation-duration) * 5.3);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes translateShadow {
  0% {
    transform: translateY(0);
    box-shadow: 40px 40px 10px #444466;
  }
  100% {
    transform: translateY(var(--bounce-height));
    box-shadow: 40px 350px 250px #444466;
  }
}

@keyframes smash {
  0% {
    transform: scaleY(0.7);
  }
  15% {
    transform: scaleY(1);
  }
}

@keyframes rotateImg {
  100% {
    transform: rotate(360deg);
  }
}

.author {
  position: fixed;
  bottom: 5px;
  left: 5px;
  font-size: 18px;
  color: black;
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: black;
  transform: scale(-1, 1);
  margin-right: 8px;
}

.author-link {
  color: black;
  font-size: 18px;
  vertical-align: middle;
  text-decoration: none;
}
