/* Custom scrollbar for Sidebar only */
.sidebar-scroll-container::-webkit-scrollbar {
  width: 8px;
}

.sidebar-scroll-container::-webkit-scrollbar-track {
  background: #FAFAFA;
  border-radius: 10px;
}

.sidebar-scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #FAFAFA;
}

.sidebar-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* For Firefox */
.sidebar-scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}
